<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleEx" version="1.0.4" targetFramework="net40-Client" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net40" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40-Client" />
  <package id="Ninject.Web.Common" version="3.2.2.0" targetFramework="net40-Client" />
  <package id="nunit-color-console" version="0.1.0.0" targetFramework="net40-Client" />
</packages>