<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.2.1" targetFramework="net40" />
  <package id="BCrypt.Net" version="0.1.0" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net40" />
  <package id="IInject" version="1.2.0.0" targetFramework="net40" />
  <package id="IInject.CommonServiceLocator" version="1.2.0.1" targetFramework="net40" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40" />
  <package id="Ninject.Web.Common" version="3.2.2.0" targetFramework="net40" />
  <package id="PostSharp" version="3.1.46" targetFramework="net40" />
</packages>