@{
    ViewBag.Title = "Home Page";
}
@section header {
}
@section navbar {
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="/#/lists" title="Home">SarabiStore</a>
            </div>
        </div>
    </div>
}
@section footer {
<footer>
                <p>&copy; SarabiStore Development Team @System.DateTime.Now.ToString("yyyy")</p>
            </footer>
}

